<h1>Admin Home</h1>
<ul>
	<li><%= link_to "Display Users", admin_users_path %></li>
	<li><%= link_to "Add User", signup_path %></li>
	<li><%= link_to "Add Admin", admin_addadmin_path %></li>
	<li><%= link_to "Display Admins", admin_display_path  %></li>
</ul>
<%= link_to "Quiz Home", root_path %>